In [1]:
import os
import json
import pandas as pd

In [2]:
def counting(path):
    cnt = 0
    data_dir = path

    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt += 1

    print(f'데이터 개수 = {cnt}')
    return cnt

# csv 변환 - 용도별 목적 데이터

In [30]:
target_path = "dataset/init-dataset/용도별 목적대화 데이터/"

In [31]:
target_path_list = os.listdir(target_path)

In [32]:
target_path_list

['이벤트',
 '온오프라인안내',
 '배송',
 '주문결제',
 '제품사용문의',
 'AS문의',
 '환불반품교환']

In [33]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 990
데이터 개수 = 2136
데이터 개수 = 1945
데이터 개수 = 1952
데이터 개수 = 2473
데이터 개수 = 2426
데이터 개수 = 1910
총 데이터 개수 = 13832

In [34]:
purpose = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                purpose.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'][2:])
        except:
            print(f"error! {final_path}")

In [35]:
len(purpose)

172442

In [36]:
purpose_df = pd.DataFrame({'text':purpose})

In [37]:
purpose_df.head()

                          text
0     안녕하세요 #@소속# 상담원 #@이름#입니다
1                    문의 좀 드릴게요
2              네 고객님 어떤 문의이실까요
3            기프트카드 등록은 어떻게 하나요
4  고객님 웹으로 보고 계실까요 앱으로 보고 계실까요

In [38]:
purpose_df.tail()

                                   text
172437     정말 죄송하지만요 고객님 그린피는 환불되지 않습니다
172438  뭐라구요 그렇게 못 박는 거에요 #@소속# 대기업이잖아요
172439              대신 날짜 조정을 해드릴 수 있어요
172440             그나마 다행이네요 맘에 들진 않지만요
172441         도움을 못 드려 죄송합니다 #@소속#였습니다

In [39]:
purpose_df.to_csv("dataset/trans-dataset/용도별목적대화데이터.csv", index=False)

# csv 변환 - 주제별 일상 대화 데이터

In [40]:
target_path = "dataset/init-dataset//주제별 일상 대화 데이터/"

In [41]:
target_path_list = os.listdir(target_path)

In [42]:
target_path_list

['TL_02. FACEBOOK',
 'TL_05. NATEON',
 'TL_01. KAKAO',
 'TL_04. BAND',
 'TL_03. INSTAGRAM']

In [43]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 8002
데이터 개수 = 1606
데이터 개수 = 71651
데이터 개수 = 1631
데이터 개수 = 4800
총 데이터 개수 = 87690

In [44]:
ex = open(f"dataset/init-dataset/주제별 일상 대화 데이터/TL_01. KAKAO/KAKAO_898_15.json", encoding="UTF-8")
ex = json.loads(ex.read())

In [45]:
ex['info'][0]['annotations']['lines'][7]['norm_text']

'장난 아니죠 ? ㅠ'

In [46]:
len(ex['info'][0]['annotations']['lines'])

26

In [47]:
target_path_list

['TL_02. FACEBOOK',
 'TL_05. NATEON',
 'TL_01. KAKAO',
 'TL_04. BAND',
 'TL_03. INSTAGRAM']

In [48]:
files = files = os.listdir(target_path+target_path_list[0])

In [49]:
target_path+target_path_list[0]+files[0]

'dataset/init-dataset//주제별 일상 대화 데이터/TL_02. FACEBOOKFACEBOOK_170_11.json'

In [50]:
target_path_list

['TL_02. FACEBOOK',
 'TL_05. NATEON',
 'TL_01. KAKAO',
 'TL_04. BAND',
 'TL_03. INSTAGRAM']

In [51]:
daily_conversations = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path+target_path_list[i])
    for k in range(len(files)):
        final_path = str(target_path)+str(target_path_list[i])+"/"+str(files[k])
        try:
            target_file = open(f"{final_path}", encoding="UTF-8")
            target_file = json.loads(target_file.read())
            for j in range(len(target_file['info'][0]['annotations']['lines'])):
                daily_conversations.append(target_file['info'][0]['annotations']['lines'][j]['norm_text'])
        except:
            print(f"error! {final_path}")

In [52]:
len(daily_conversations)

1445976

In [53]:
daily_conversations_df = pd.DataFrame({'text':daily_conversations})

In [54]:
daily_conversations_df.head()

           text
0  **는 게임 좋아하니?
1   게임 어떤거 좋아해?
2     게임 잘 못해서,
3  우린 완전 게임 좋아해
4   나는 별로 안 좋아해

In [55]:
daily_conversations_df.tail()

                        text
1445971      형 이 분조장도 있대...?
1445972               심하네...
1445973         형 나 안 참는다 진짜
1445974  어... 정신과 약 받아먹는대...
1445975                  불쌍해

In [56]:
daily_conversations_df.to_csv("dataset/trans-dataset/주제별일상대화데이터.csv", index=False)

# csv 변환 - 일반상식 데이터

In [57]:
common_sense = open(f"dataset/init-dataset/일반상식/ko_wiki_v1_squad.json", encoding="UTF-8")
common_sense = json.loads(common_sense.read())

In [58]:
len(common_sense['data'])

68538

In [59]:
common_sense['data'][0]

{'paragraphs': [{'qas': [{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
     'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
     'id': '9_f2_wiki_2822-1'}],
   'context': "재팬 오픈에서 4회 우승하였으며, 통산 단식 200승 이상을 거두었다. 1994년 생애 최초로 세계 랭킹 10위권에 진입하였다. 1992년에는 WTA로부터 '올해 가장 많은 향상을 보여준 선수상'(Most Improved Player Of The Year)을 수여받았으며, 일본 남자 패션 협회(Japan Men's Fashion Association)는 그녀를 '가장 패셔너블한 선수'(Most Fashionable)로 칭했다. 생애 두 번째 올림픽 참가 직후인 1996년 9월 24일 최초로 은퇴를 선언하였다. 이후 12년만인 2008년 4월에 예상치 못한 복귀 선언을 하고 투어에 되돌아왔다. 2008년 6월 15일 도쿄 아리아케 인터내셔널 여자 오픈에서 복귀 후 첫 우승을 기록했으며, 2009년 9월 27일에는 한국에서 열린 한솔 코리아 오픈 대회에서 우승하면서 복귀 후 첫 WTA 투어급 대회 우승을 기록했다. 한숨 좀 작작 쉬어!"}],
 'title': '다테_기미코'}

In [60]:
common_sense['data'][0]['paragraphs'][0]['qas'][0]

{'question': '다테 기미코가 최초로 은퇴 선언을 한게 언제지',
 'answers': [{'answer_start': 260, 'text': '1996년 9월 24일'}],
 'id': '9_f2_wiki_2822-1'}

In [61]:
query = []
answer = []
for i in range(len(common_sense['data'])):
    query.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['question'])
    answer.append(common_sense['data'][i]['paragraphs'][0]['qas'][0]['answers'][0]['text'])

In [62]:
len(query)

68538

In [63]:
len(answer)

68538

In [64]:
common_sense_df = pd.DataFrame({'intent':['일반상식']*len(query), 'query':query, 'answer':answer})

In [65]:
common_sense_df.head()

  intent                      query          answer
0   일반상식  다테 기미코가 최초로 은퇴 선언을 한게 언제지    1996년 9월 24일
1   일반상식            ave;new 본거지 어디야         도쿄 치요다구
2   일반상식         사카이 다다요시의 아버지가 누구지  사카이 나오타카(酒井直隆)
3   일반상식              일반성면의 면적이 얼마야       19.41 km²
4   일반상식            금나라를 세운 사람이 누구야          태조 아구다

In [66]:
common_sense_df.tail()

,intent,query,answer
68533,일반상식,네 가지 베다의 주해서가 뭐야,브라마나
68534,일반상식,보안사 민간인 사찰 사건이 뭐야,1990년 보안사령부(현재의 기무사)에 근무하던 윤석양 이병이 보안사의 사찰 대상 ...
68535,일반상식,FM 음악도시의 1대 진행자는,신해철
68536,일반상식,파푸아뉴기니는 몇 개의 주가 있어,21개
68537,일반상식,메이저에서 고로가 미후네로 돌아와서 야구부가 아닌 축구부에 들어간 이유가 뭐야,후쿠오카 리틀리그에서 오른쪽 어깨에 부상을 입은 뒤로 야구부에 들어가지 않았다

In [67]:
common_sense_df.to_csv("dataset/trans-dataset/일반상식.csv", index=False)

# csv 변환 - 시간 표현 탐지 데이터

In [68]:
target_path = "dataset/init-dataset/시간 표현 탐지 데이터/"

In [69]:
target_path_list = os.listdir(target_path)

In [70]:
target_path_list

['TL_대화_연애',
 'TL_대화_여행',
 'TL_역사',
 'TL_대화_기타',
 'TL_대화_진로',
 'TL_뉴스_경제',
 'TL_대화_취미',
 'TL_뉴스_사회']

In [71]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 3989
데이터 개수 = 3581
데이터 개수 = 4093
데이터 개수 = 3605
데이터 개수 = 3769
데이터 개수 = 5760
데이터 개수 = 4257
데이터 개수 = 6461
총 데이터 개수 = 35515

In [72]:
time_expression = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path + target_path_list[i])
    for k in range(len(files)):
        final_path = os.path.join(target_path, target_path_list[i], files[k])
        try:
            with open(final_path, encoding="UTF-8") as target_file:
                target_data = json.load(target_file)
                if 'utterances' in target_data:
                    for utterance in target_data['utterances']:
                        if 'timex3' in utterance:
                            for timex in utterance['timex3']:
                                time_expression.append(timex['text'])
                elif 'sentences' in target_data:
                    for sentence in target_data['sentences']:
                        if 'timex3' in sentence:
                            for timex in sentence['timex3']:
                                time_expression.append(timex['text'])
        except Exception as e:
            print(f"error! {final_path}, {str(e)}")

In [73]:
len(time_expression)

278781

In [74]:
time_express_df = pd.DataFrame({'text':time_expression})

In [75]:
time_express_df.head()

      text
0      일주일
1     휴가기간
2     휴가기간
3  휴가 둘째 날
4       1년

In [76]:
time_express_df.tail()

        text
278776    기간
278777  달 9일
278778   16일
278779     해
278780    과거

In [77]:
time_express_df.to_csv("dataset/trans-dataset/시간표현탐지데이터.csv", index=False)