In [2]:
import os
import json
import pandas as pd

In [3]:
def counting(path):
    cnt = 0
    data_dir = path

    for path in os.listdir(data_dir):
        if os.path.isfile(os.path.join(data_dir, path)):
            cnt += 1

    print(f'데이터 개수 = {cnt}')
    return cnt

# csv 변환 - 시간 표현 탐지 데이터

In [4]:
target_path = "dataset/init-dataset/시간 표현 탐지 데이터/"

In [5]:
target_path_list = os.listdir(target_path)

In [6]:
target_path_list

['TL_뉴스_경제',
 'TL_뉴스_사회',
 'TL_대화_기타',
 'TL_대화_여행',
 'TL_대화_연애',
 'TL_대화_진로',
 'TL_대화_취미',
 'TL_역사']

In [7]:
total_data = 0
for i in range(len(target_path_list)):
    cnt = counting(target_path+target_path_list[i])
    total_data += cnt
print(f'총 데이터 개수 = {total_data}')

데이터 개수 = 5760
데이터 개수 = 6461
데이터 개수 = 3605
데이터 개수 = 3581
데이터 개수 = 3989
데이터 개수 = 3769
데이터 개수 = 4257
데이터 개수 = 4093
총 데이터 개수 = 35515

In [11]:
time_expression = []
for i in range(len(target_path_list)):
    files = os.listdir(target_path + target_path_list[i])
    for k in range(len(files)):
        final_path = os.path.join(target_path, target_path_list[i], files[k])
        try:
            with open(final_path, encoding="UTF-8") as target_file:
                target_data = json.load(target_file)
                if 'utterances' in target_data:
                    for utterance in target_data['utterances']:
                        if 'timex3' in utterance:
                            for timex in utterance['timex3']:
                                time_expression.append(timex['text'])
                elif 'sentences' in target_data:
                    for sentence in target_data['sentences']:
                        if 'timex3' in sentence:
                            for timex in sentence['timex3']:
                                time_expression.append(timex['text'])
        except Exception as e:
            print(f"error! {final_path}, {str(e)}")

In [12]:
len(time_expression)

278781

In [16]:
time_express_df = pd.DataFrame({'text':time_expression})

In [17]:
time_express_df.head()

    text
0  2022년
1     3일
2      해
3      해
4      해

In [18]:
time_express_df.tail()

         text
278776  1865년
278777  1918년
278778   19세기
278779   19세기
278780  1917년

In [19]:
time_express_df.to_csv("dataset/trans-dataset/시간표현탐지데이터.csv", index=False)